<h1>Listing movies</h1>

<ul>
<% @movies.each do |movie| %>
  <li><%= link_to movie.name, movie, :action => :show %>
   ( <%=h movie.year %>)  (<%= link_to 'Edit', edit_movie_path(movie) %>)</li>
<% end %>
</table>

<br />

<%= link_to 'New movie', new_movie_path %>