      body {
        margin: 0;
        margin-bottom: 25px;
        padding: 0;
        background-color: #f0f0f0;
        font-family: "Courier", "Times Roman";
        font-size: 13px;
        color: #333;
      }
      
	
     
     h1 {
        font-size: 28px;
        margin-bottom: 25px;
      }
      
     header a {
         color:pink;
         text-decoration:none;
      }
      
      a  { color: #0066B3;
      	   text-decoration:none;
      }
      
      a:hover {
        background-color: #03c;
        color: white;
        text-decoration: none;
      }
      
      
      #page {
        background-color: #f0f0f0;
        width: 750px;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
      }
      
      #content {
        float: left;
        background-color: white;
        border: 3px solid #aaa;
        border-top: none;
        padding: 25px;
        width: 500px;
      }
      
      #sidebar {
        float: right;
        width: 175px;
      }

      #footer {
        clear: both;
      }
      

      #header, #about, #getting-started {
        padding-left: 75px;
        padding-right: 30px;
      }


      #header {
        background-repeat: no-repeat;
        background-position: top left;
        height: 64px;
      }
      #header h1, #header h2 {margin: 0}
      #header h2 {
        color: #888;
        font-weight: normal;
        font-size: 16px;
      }
      
     
      
      #core_content {
        border-top: 1px solid #ccc;
        margin-top: 25px;
        padding-top: 15px;
      }
      #core_content h1 {
        margin: 0;
        font-size: 20px;
      }
      #core_content li {
        font-size: 12px;
        margin-bottom: 5px;
      }
      
      
      ul {
       list-style-type: none;
       margin: 0;
      }
      
      
      #sidebar ul {
        margin-left: 0;
        padding-left: 0;
      }
      #sidebar ul h3 {
        margin-top: 25px;
        font-size: 16px;
        padding-bottom: 10px;
        border-bottom: 1px solid #ccc;
      }
      #sidebar li {
        list-style-type: none;
      }
      #sidebar ul.links li {
        margin-bottom: 5px;
      }
      
      select {
         font-family: courier;
         weight:bold;
      }
      
      grey_comment {
      	 font-family:courier;
         color:gray;
         font-size: 10px;
      }
      
      #movie_image {
		text-align:right;
		float:right;
		padding: 5px;
		border:1px solid gray;
		margin:5px;      
     }
