<div id="sidebar">
        <ul id="sidebar-items">
          <li>
            <h3>About</h3>
          	<ul>
          		<li><%= link_to "Haikus", :controller=> "haikus" %>
          		<li><%= link_to "Movies", :controller=> "movies" %> 
          		<li><%= link_to "Poets", :controller=> "poets" %>
          	</ul>
          	<li><h3><%= link_to "Write One", new_haiku_path %></h3></li>
          	<ul>
          		<li>Subscribe/Follow
          	</ul>
          </li>
        
          
          <li>
            <h3>Best</li>
           		<ul><li>Haiku</li><li>Poet</li><li>Movie</li></ul>
			<li><h3>Worst</h3></li>
				<ul><li>Haiku</li><li>Poet</li><li>Movie</li></ul>
	
          </li>

        
        </ul>
      </div>