

          <h1><%= link_to "Haikus", :controller=> "haikus" %></h1>
     <ul>
          	
          	</ul>
         
          <h1><%= link_to "Movies", :controller=> "movies" %></h1>
         
  			<ul>
          	
          	</ul>
          <h1><%= link_to "Poets", :controller=> "poets" %></h1>
          	<ul>
          	
          	</ul>
          		
        </div>
      </div