<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Haikus by Movie: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'moviehaiku.css' %>
</head>
<body>

    <div id="page">
      <div id="sidebar">
        <ul id="sidebar-items">
          <li>
            <h3>About</h3>
          	<ul>
          		<li>Movie Haikus
          		<li>Me
          		<li>Follow
          		<li>Subscribe
          	</ul>
          </li>
        
          
          <li>
            <h3>The Rankings</h3>
           <ul>
           	<li>Top Haiku</li>
           	<li>Top Poet</li>
           	<li>Top Movie</li>
           </ul>
          </li>
        
        </ul>
      </div>

      <div id="content">
        <div id="header">
        <p style="color: green"><%= flash[:notice] %></p>

<%= yield %>


</body>
</html>
